<a href="https://colab.research.google.com/github/bishallopchan12/DataAnalystPractice/blob/main/List%2CTuple%2CsetsandDictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List-is flexible jate chainxa tete store garxa -it is convenient, heterogenous hunxa alag alag data type store garna sakinxa
#speed execution little bit slow and also occupies more space and memory
L=[20,"Bishal",10]
print(type(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))

<class 'list'>
10758344
136997884368752
10758024

In [ ]:
a=2
print(id(a))

a=["Bishal"]

10757768

In [ ]:
#empty list

print([])

#1D
L=[1,2,3]
print(L)

#2D
print([1,2,1,[21,45]])

#3D
print([[[1,2,3]]],[3,5],[3,2,1])
#Hetrogenous list
print([1,2,"My bishal",5.7,4+51])

print(list("hello"))

[]
[1, 2, 3]
[1, 2, 1, [21, 45]]
[[[1, 2, 3]]] [3, 5] [3, 2, 1]
[1, 2, 'My bishal', 5.7, 55]
['h', 'e', 'l', 'l', 'o']

Accessing items from the list

In [ ]:
#indexing
L=[1,2,3,[4,5]]
print(L[-1][-2])
A=[[[1,2],[3,4]],[[5,6],[7,8]]]
print(A[-2][-1][-2])


#slicing

L=[1,2,3,4,5,6]
print(L[-3::1])

4
3
[4, 5, 6]

In [ ]:
#append
L=[1,2,3]
L.append([1,2,3,4])
print(L)

[1, 2, 3, [1, 2, 3, 4]]

In [ ]:
#extend
L=[1,2,3,4,5]

L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#insert
L=[1,2,3,4,5]
L.insert(1,10)
print(L)

[1, 10, 2, 3, 4, 5]

Editing items in a list

In [ ]:
L=[1,2,3,4,5]
#editing with indexing
L[-1]=600

L[1:4]=[200,200,300]
print(L)

[1, 200, 200, 300, 600]

In [ ]:
#deleting items from the list

#del
L=[1,2,3,4,5]

#indexing
del(L[-1])

#slicing
del L[1:3]
print(L)

[1, 4]

In [ ]:
#remove

L=[1,2,3,4,5]
L.remove(2)
print(L)

[1, 3, 4, 5]

In [ ]:
#pop
L=[1,2,3,4,5]
L.pop()
print(L)

[1, 2, 3, 4]

In [ ]:
#clear
L=[1,2,3,4,5]
L.clear()
print(L)

[]

Operators on List


1.   Arithmetic
2.   Membership
3.   Loop

In [ ]:
#Arithmetic(+,*)

L1=[1,2,3,4,5]
L2=[6,7,8,9,10]
#Concatenation/Merge
print(L1+L2)
#Repeat
print(L1*3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#Membership operator

L1=[1,2,3,4,5]
L2=[1,2,3,4,[5,6]]
print(1 in L1)
print([5,6] in L2)

True
True

In [ ]:
#Loops
L1=[1,2,3,4,5]
L2=[1,2,3,4,[5,6]]
for i in L2:
  print(i)
A=[[[1,2],[3,4]],[[5,6],[7,8]]]
for i in A:
  print(i)

1
2
3
4
[5, 6]
[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [ ]:
#List functions
L=[2,1,5,6,7,0]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L))
print(sum(L))

6
0
7
[0, 1, 2, 5, 6, 7]
21

In [ ]:
#count
L=[1,2,3,4,5]
L.count(5)

1

In [ ]:
#index
L=[1,2,3,4,5]
L.index(5)

4

In [ ]:
#reverse
L=[1,2,3,4,5]

#permanently reverse the list
L.reverse()
print(L)

[5, 4, 3, 2, 1]

In [ ]:
#sorted or sort
L=[1,2,3,4,5,10,2,4,5,6,8]
print(sorted(L))
print(L)
L.sort()
print(L)

[1, 2, 2, 3, 4, 4, 5, 5, 6, 8, 10]
[1, 2, 3, 4, 5, 10, 2, 4, 5, 6, 8]
[1, 2, 2, 3, 4, 4, 5, 5, 6, 8, 10]

In [ ]:
#copy
L=[1,2,3,4,5]
L.copy()
print(L)
print(id(L))

L1=L.copy()
print(id(L1))

[1, 2, 3, 4, 5]
138843180335424
138843877900224

List Comprehension
- It providess a concise waty of creating lists

In [ ]:
#Add 1 to 10 numbers in a list
L=[]
for i in range(1,11):
  L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L=[i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Scalar multiplication on a vector
v=[2,3,4]
s=-3
[s*i for i in v]

[-6, -9, -12]

In [ ]:
#add Squares
L=[1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [ ]:
#print all the numbers divisible by 5 in the range of 1 to 50

L=[number for number in range(1,51) if number%5==0]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#find the languages which start with letter p

languages=['java','python','php','c']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
#Print all even numbers from 1 to 100 using list comprehension.
[number for number in range(1,101) if number%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
#Print all numbers from 1 to 50 that are divisible by 3.

[numbers for numbers in range(1,51) if numbers%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
#Print all numbers from 1 to 100 that are both divisible by 2 and 3.

[numbers for numbers in range(1,101) if numbers%2==0 and numbers%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
#Print all numbers from 1 to 100 that are not divisible by 5.
[numbers for numbers in range(1,101) if numbers%5!=0]

[1,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 14,
 16,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 81,
 82,
 83,
 84,
 86,
 87,
 88,
 89,
 91,
 92,
 93,
 94,
 96,
 97,
 98,
 99]

In [ ]:
#Create a list of cubes of all odd numbers between 1 and 30.

[numbers**3 for numbers in range(1,31) if numbers%2!=0]

[1,
 27,
 125,
 343,
 729,
 1331,
 2197,
 3375,
 4913,
 6859,
 9261,
 12167,
 15625,
 19683,
 24389]

In [ ]:
#Nested if with list comprehension
basket=["apple","guava","cherry","banana"]
my_fruits=["apple","kiwi",'grapes',"banana"]

#add new list from my_fruits and items if the fruit exists in basket and alaso starts with a


[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
#Print a 3*3 matrix usinh list comprehension -> nested loop comprehension

[[i*j for i in range(1,4)]for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
#cartesian products -> List comprehension on 2 list integer
L1=[1,2,3,4]
L2=[5,6,7,8]

[[i*j for i in L1 for j in L2]]

[[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]]

In [ ]:
#2 ways to traverse a list
#itemwise
L=[1,2,3,4]
for i in L:
  print(i)

#indexwise
L=[1,2,3,4]
for i in range(0,len(L)):
  print(i)

1
2
3
4
0
1
2
3

Zip function
it return a zip object which is an iterator of tuples whre the first item in each passed iterator is paired togetger, and then the seconf item in each passed iterator are paired together

In [ ]:
#wap to add items of 2 lists indexwise

L1=[1,2,3,4]
L2=[-1,-2,-3,-4]
list(zip(L1,L2))


[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L=[1,2,print,type,input]
print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7e473e2198d0>>]

Disadvantages of python lists


1.  Slow
2.  Risky usage
3. eats up more memory

Tuples,sets and dictionary

In [ ]:
#Creating tuples

#empty
t1=()
print(t1)

#Create a tuple with a single item
t2=(2)
print(type(t2) )

#homo
t3=(1,2,3,4)
print(t3)
#hetro
t4=(1,2,3,4.5,6),True,[1,2,3]
print(t4)

#tuple
t5=(1,2,3,4,(5,6))
print(t5)

#using type conversion
t6= tuple("hello")
print(t6)

()
<class 'int'>
(1, 2, 3, 4)
((1, 2, 3, 4.5, 6), True, [1, 2, 3])
(1, 2, 3, 4, (5, 6))
('h', 'e', 'l', 'l', 'o')

Accessing Items


*   Indexing
*   Slicing

In [ ]:

print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
print(t3[::-1])

(4, 3, 2, 1)

In [ ]:
t5
print(t5[-1][0])

5

Editing Items

In [ ]:
print(t3)
t3[0]=100
#immuatble just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

Adding Items

In [ ]:
print(t3)
#not possible

(1, 2, 3, 4)

In [ ]:
#deleting items


print(t5)

t=(1,2,3,4,5)
t[-1:-4:-1]

(1, 2, 3, 4, (5, 6))

(5, 4, 3)

Operations on Tuple

In [ ]:
#+ and *
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
print(t1*3)
#membership
1 not in t1
#iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

Tuple functions

In [ ]:
#len/sum/min/max/sorted

In [ ]:
t=(1,2,3,4)
len(t)
sum(t)
min(t)
max(t)
sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
#count
t=(1,2,4,5)
t.count(5)

#index
t.index(5)

3

In [ ]:
import time

L=list(range(1000000))
T=tuple(range(1000000))

start=time.time()
for i in L:
  i*5
print(time.time()-start)

start=time.time()
for i in T:
  i*5
print(time.time()-start)

0.06696414947509766
0.06252336502075195

In [ ]:
#why use syntax


#tuple unpacking

a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a=1
b=3
a,b=b,a
print(a,b)

3 1

In [ ]:
a,b,*others=(1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [ ]:
a,b,*dorje=(1,2,3,4,5)
print(a,b)
print(dorje )

1 2
[3, 4, 5]

In [ ]:
#Zipping tuples


a=(1,2,3,4)
b=(5,6,7,8)
zip(a,b)
print(list(zip(a,b)))

[(1, 5), (2, 6), (3, 7), (4, 8)]

Sets
It is an unordered collection of items.
Characteristics


*   Unordered

*   Mutable

 No Duplicates


 Cant contain mutable data types

In [ ]:
#Creating Sets

#empty sets
s=set()
print(type(s))

#1Dand2D

s1={1,2,3,4}
print(s1)
print(type(s1))

s2={1,2,3,(4,5)}
print(s2)
#homo and hetro

s3={1,"Bishal",4.5,True}
print(s3)


#using type conversion
s4=set("hello")
print(s4)

#set cant have multiple items and duplicate data
s5={1,2,3,4,1,2,3,4}
print(s5)

<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{3, 1, (4, 5), 2}
{1, 4.5, 'Bishal'}
{'o', 'e', 'l', 'h'}
{1, 2, 3, 4}

In [ ]:
s1={1,2,3}
s2={3,2,1}
print(s1==s2)

True

Accessing Items

In [ ]:
s={1,2,3,4}
#add
s.add(5)
print(s)

s.update([7,8,9])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:

set doesnt support indexing so we cant access Items so edit ni garna miladina

Deleting Items

In [ ]:
#del
s={1,2,3,4,5,6,7}
print(s)

#discard
s.discard(5)
print(s)

#remove
s.remove(4)
print(s)

#pop
s.pop()
print(s)

#clear
s.clear()
print(s)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
{1, 2, 3, 6, 7}
{2, 3, 6, 7}
set()

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#union(|)
s1 | s2

#intersection(&)
s1&s2
#difference(-)
s1-s2
#symmetric difference
s1^s2
#membership Test
1 not in s1
#loop
for i in s1:
  print(i)

1
2
3
4
5

In [ ]:
#len/sum/min/max/sorted

s={2,1,3,4,5,6,1}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[6, 5, 4, 3, 2, 1]

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
#isdisjoint/issubset/issuperset

s1={1,2,3}
s2={4,5,6}
s1.isdisjoint(s2)

#issubset
s1={1,2,3,4,5,6}
s2={4,5,6}
s2.issubset(s1)

#issuperset
s1.issuperset(s2)

#copy
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

Frozenset
it is just an immutable version of a python set object

In [ ]:
fs1=frozenset([1,2,3])
fs2=frozenset([1,2,3,4,5])
fs1|fs2

frozenset({1, 2, 3, 4, 5})

In [ ]:
#2D frozenset
fs1=frozenset([1,2,3])
fs2=frozenset([1,2,3,4,5])
fs3=frozenset([fs1,fs2])
print(fs3)
#

frozenset({frozenset({1, 2, 3}), frozenset({1, 2, 3, 4, 5})})

In [ ]:
#Set comprehension
{i**2 for i in range(1,10) if i>5 }

{36, 49, 64, 81}

Dictionary
Dictionary in python is a collection of key valyes,used to store data values like a map,which unclike other data types which hold a only a single value as an element.

Create dictionary

In [ ]:
#empty dictionary
d={}
d
#1D dictionary
d1={'name':"Bishal lama" ,'gender':'male'
}
d1

#with mixed keys
d2={(1,2,3,4):1,"hello":"world"}
d2
#2D dictionary
s={
    'name':"Bishal",
    'college':'acem',
    "semester":"eight",
    'subjects':{
        'IS':70,
        'Multimedia':90,
        'project2':91,
        'OR':90
    }
}
s
#using sequence and dict function

d4=dict([('name',"bishal"),("roll",8),('age',23)])
d4
#duplicate
d5={
    'name':"bishal",
    'name':"bishaldai"
}
d5

#mutable item as keys
d6={'name':'Bishal',(1,2,3):4
}
d6

{'name': 'Bishal', (1, 2, 3): 4}

Accessing Items

In [ ]:
my_dict={'name':"Bishal",'age':24}
my_dict['name']
#get
my_dict.get('age')
s['subjects']['OR']

90

Adding key value pair

In [ ]:
d4['gender']='male'
d4
d4['weight']=65
d4
s
s['subjects']['Ds']=79
s

{'name': 'Bishal',
 'college': 'acem',
 'semester': 'eight',
 'subjects': {'IS': 70, 'Multimedia': 90, 'project2': 91, 'OR': 90, 'Ds': 79}}

Remove key-value pair

In [ ]:
d={'name': 'bishal', 'roll': 8, 'age': 23, 'gender': 'male', 'weight': 65}

#pop
d.pop('weight')

d

#popItem
d.popitem()
d

#del

del d['name']
d
#clear
d.clear()
d

{}

Editing Key Value Pair

In [ ]:
s['semester']=7
s['subjects']['OR']=80
s

{'name': 'Bishal',
 'college': 'acem',
 'semester': 7,
 'subjects': {'IS': 70, 'Multimedia': 90, 'project2': 91, 'OR': 80, 'Ds': 79}}

In [ ]:
print(s)
'Bishal'in s['name']

{'name': 'Bishal', 'college': 'acem', 'semester': 7, 'subjects': {'IS': 70, 'Multimedia': 90, 'project2': 91, 'OR': 80, 'Ds': 79}}

True

Dictionary operation
only membership and iteration

In [ ]:
d={
    'name':"Bishal",
    'address':"satdobato",
    'gender':"male",
    'age':23
}
for i in d:
  print(i,d[i])

name Bishal
address satdobato
gender male
age 23

Dictinary Function

In [ ]:
#len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'Bishal', 'address': 'satdobato', 'gender': 'male', 'age': 23}

'name'

In [ ]:
#items/keys/values
print(d)
print(d.items())
print(d.keys())
print(d.values())

{'name': 'Bishal', 'address': 'satdobato', 'gender': 'male', 'age': 23}
dict_items([('name', 'Bishal'), ('address', 'satdobato'), ('gender', 'male'), ('age', 23)])
dict_keys(['name', 'address', 'gender', 'age'])
dict_values(['Bishal', 'satdobato', 'male', 23])

In [ ]:
#update

d1={

    1:2,
    3:4,
    5:7
}
d2={
    4:7,6:8
}
d1.update(d2)
print(d1)
print(d2)

{1: 2, 3: 4, 5: 7, 4: 7, 6: 8}
{4: 7, 6: 8}

Dictironary Comprehension

{key:value for vars in iterable}

In [ ]:
#Dictionary comprehensuon
#print 1st 10 numbers and their squares


{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#Using existing comprehension
distance={'kathamndu':1000,"lalitpur":1212,"Pokhara":1222}
{key:value for (key,value) in distance.items() if value>1000}

{'lalitpur': 1212, 'Pokhara': 1222}

In [ ]:
#using zip
days=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_c=[30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_c)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
#using if condition
products={
    'phone':10,
    'laptop':0,
    'charger':50,
    'tablet':20
}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 50, 'tablet': 20}

In [ ]:
#Nested Comprehension
#Print tables of number from 2 to 4


{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}