<a href="https://colab.research.google.com/github/bishallopchan12/DataAnalystPractice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def is_even(num):
  """This function returns if a given number is odd or even
  input-any valid integer
  output-odd/even
  created on-16th NOv 2022
  """
  if type(num)==int:
    if num %2==0:
      return "even"
    else:
        return "odd"
  else:
    return "please enter a valid integer"

In [ ]:
#function
#function_name(output)

for i in range(1,11):
  x=is_even(i)
  print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
is_even("hello")

'please enter a valid integer'

Types of Arguments


1.   Default Argument
2.  Positional Argument
3.  Keyword Argument

In [ ]:
#default argument
def power(a=1,b=1):
  return a**b

In [ ]:
power(6)

6

In [ ]:
#positional argument
power(2,3)

8

In [ ]:
#keyword argument-is more values than positional argument
power(b=3,a=2)

8

*args and **kwargs are special python keywords that are used to pass the variable length of argument to a function.

In [ ]:
# *args
#allows us to pass a variable number of non-keyword arguments to a function

def multiply(*args):
  product =1
  for i in args:
    product= product*i

  return product

In [ ]:
multiply(2,4,3,32,21,12)

193536

In [ ]:
print(is_even.__doc__)

This function returns if a given number is odd or even
  input-any valid integer
  output-odd/even
  created on-16th NOv 2022

In [ ]:
# **kwargs allows us to pass any nunver of keyword arguments
# Keyword arguments mean that they contain a keyvalue-pair, like python dictionary.

def display(**kwargs):
  for (key,value) in kwargs.items():
    print(key,"->",value)

In [ ]:
display(Nepal="Kathamndu",srilanka='colombo',pokhara="Kaski")

Nepal -> Kathamndu
srilanka -> colombo
pokhara -> Kaski

Points to remember while using *args and **kwargs


*   order of the arguments matter(normal-> *args-> **kwargs)
* The words "*args" and "**kwargs" are only a convention,you can use any name of your choice

How functions are executed in memory?

In [ ]:
#Without return statement

def is_even(num):
  if num%2==0:
    print("even")
  else:
    print("odd")
print(is_even(7))


L=[1,2,3]
print(L.append(4))
print(L)

odd
None
None
[1, 2, 3, 4]

variable Scope

In [ ]:
def g(y):
  print(x)
  print(x+1)
x=5
g(x)
print(x)

5
6
5

In [ ]:
def f(y):
  x=1
  x+=1
  print(x)
x=5
f(x)
print(x)

2
5

In [ ]:
def f():
  def g():
    print("inside function g")
  g()
  print("inside function f")
f()

inside function g
inside function f

In [ ]:
f()

inside function g
inside function f

In [ ]:
#Fucntions are 1st class citizen

#type and id
def square(num):
  return num**2
type(square)
a=2
type(a)
id(square)

133837510435008

In [ ]:
#reassign

x=square
id(x)

133837510433888

In [ ]:
#deleting a function

del square

In [ ]:
#storing
L=[1,2,3,4,square]
L[-1](3)

9

In [ ]:
s={square}
s

{<function __main__.square(num)>}

In [ ]:
#returning a function

def f():
  def x(a,b):
    return a+b
  return x
val=f()(3,4)
print(val)

#Lambda Function

A lambda function is a small anonymous function.

In [ ]:
a= lambda a,b: a+b
a(2,6)

8

In [ ]:
#check if a string has 'a'

a= lambda s:'a' in s
a("Hello")

False

In [ ]:
#odd or even
a=lambda x:'even' if x%2== 0 else 'odd'
a(6)

'even'

In [ ]:
#High order function example

def square(x):
  return x**2

#HOF
def transform(f,L):
  output=[]
  for i in L:
    output.append(f(i))
  print(output)

L=[1,2,3,4,5]
transform(square,L)

[1, 4, 9, 16, 25]

In [ ]:
L=[1,2,3,4,5]
transform(lambda x:x**3,L)

[1, 8, 27, 64, 125]

In [ ]:
#Map
#Sqaure the items of a list

list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
#odd/even labelling of list items
L=[1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
#fetch names from a list of dict

users=[
    {
        'name':"Bishal",
        'age':23,
        "gender":"male"
    },
    {
        'name':"samba",
        'age':20,
        "gender":"male"
    },
    {
        'name':"Droje",
        'age':25,
        "gender":"male"
    }
]

list(map(lambda users: users['gender'],users))

['male', 'male', 'male']

Filter

In [ ]:
#Numbers greater than 5
L=[1,2,3,4,5,6,7]
list(filter(lambda x:x>5,L))

[6, 7]

In [ ]:
#fetch fruits starting with 'a'

fruits=['apple','guava','cherry']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

Reduce

In [ ]:
#sum of all items

import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
#find min

import functools
functools.reduce(lambda x,y :x if x < y else y,[42,12,43,12,43,10])

10